<div class="container-fluid">
  <div class="row">
    <div class="col img">
      <img src="../../assets/img/defaultProfil.jpg" class="rounded-circle" width="200"/>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
      <h3>Bienvenue {{user.FirstName}} {{user.LastName}} !</h3>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
      <button routerLink="/profil/account">Mes comptes bancaires</button>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
      <button routerLink="/profil/card">Mes cartes</button>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
      <button routerLink="/profil/contact">Mes bénéficiaires</button>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
        <button routerLink="/profil/loan">Mes emprunts</button>
    </div>
  </div>
</div>
