.container {
  background-color: white;
  height: 100%;
  width: 100%;
}

.img {
  margin-top: 50%;
}

.row {
  text-align: center;
}
button {
  border: none;
  padding: 0;
  background: none;
  font-weight: 400;
}
