<div class="container">
  <div class="row">
    <div class="col img">
      <img src="assets/img/Rick.jpg" class="rounded-circle" width="200"/>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
      <h3>Bienvenue "RICK" !</h3>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
      <button routerLink="/account">Mes comptes bancaires</button>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
      <button routerLink="/card">Mes cartes</button>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
      <button routerLink="/contact">Mes bénéficiaire</button>
    </div>
  </div>
  <div class="row m-4">
    <div class="col">
        <button routerLink="/loan">Mes emprunts</button>
    </div>
  </div>
</div>
