<div class="left-Profil">
  <div class="card text-center sidebar">
    <div class="cand-body">
      <img src="assets/img/Rick.jpg" class="rounded-circle" width="250" />
      <div class="mt-3 profil">
        <h3>Bienvenue "RICK" !</h3>
        <button routerLink="/account">Mes comptes bancaires</button>
        <button routerLink="/card">Mes cartes</button>
        <button routerLink="/contact">Mes bénéficiaire</button>
        <button routerLink="/loan">Mes emprunts</button>
      </div>
    </div>
  </div>
</div>
