<div class="debit-card col-xs-12 col-md-7 col-lg-6 col-xl-4 mb-3">
  <div class="d-flex flex-column h-100">
    <label class="d-block">
      <div class="d-flex position-relative">
        <div>
          <p class="mt-2 mb-4 text-white fw-bold">Carte de debit</p>
        </div>
      </div>
    </label>
    <div class="btnDelete mb-4 text-center" (click)="deleteCard()">
      <img src="../../assets/img/bin.png" class="rounded float-rightt" alt="" />
    </div>
    <label class="d-block">
      <div class="d-flex position-relative">
        <div>
          <p
            class="mt-auto mb-6 text-white fw-bold d-flex align-items-center justify-content-between"
          >
            {{card.CardNumber}}
          </p>
        </div>
      </div>
    </label>
    <div
      class="mt-auto d-flex align-items-center justify-content-between text-white"
    >
      <p>Balance de la carte</p>
      <p>Cryptogram</p>
    </div>
    <div
      class="mt-auto fw-bold d-flex align-items-center justify-content-between text-white"
    >
      <p
            class="mt-auto mb-6 text-white fw-bold d-flex align-items-center justify-content-between"
          >
            {{card.Balance}}
          </p>
          <p
            class="mt-auto mb-6 text-white fw-bold d-flex align-items-center justify-content-between"
          >
            {{card.Cryptogram}}
          </p>
    </div>
  </div>
</div>
