
  <div class="row">
    <div class="form-floating col-md-9 mt-5 spacing">
      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" [(ngModel)]="newTransaction.Card_Id" [ngModelOptions]="{ standalone: true }">
        <option *ngFor="let card of cards$ | async" [value]="card.Id" selected>
          {{ card.CardNumber }}
        </option>
      </select>
      <label for="floatingCard">Liste des cartes</label>
    </div>
  </div>

  <div class="row">
    <div class="form-floating col-md-9 spacing">
      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" [(ngModel)]="newTransaction.User_Id" [ngModelOptions]="{ standalone: true }" (ngModelChange)="getSelectedContact($event)">
        <option *ngFor="let contact of contacts$ | async" [value]="contact.Id">
          {{ contact.Name }}
        </option>
      </select>
      <label for="floatingConatact">Liste des contacts</label>
    </div>
  </div>

  <div class="row">
      <div class="col-md-9 spacing">
        <input id="card-holder"
               name="nom"
               type="text"
               class="form-control rounded"
               placeholder="Nom"
               [(ngModel)]="contact.Name" [ngModelOptions]="{ standalone: true }" [readonly]="true"/>
        <p>{{errorMessageName}}</p>
      </div>
  </div>

  <div class=" row">
      <div class="col-md-3 spacing">
        <input id="card-number"
               name="cardNumber"
               type="text"
               class="form-control rounded"
               placeholder="Numéro de compte"
               [(ngModel)]="contact.CardNumber" [ngModelOptions]="{ standalone: true }"
               value={{contact.CardNumber}} [readonly]="true"/>
        <p>{{errorMessageCardNumber}}</p>
      </div>
      <div class=" col-md-3 spacing">
        <div class="input-group mb-3">
          <div class="input-group-prepend input-group-lg">
            <span class="input-group-text">€</span>
          </div>
          <input type="text"
                 name="amount"
                 placeholder="Montant"
                 class="form-control rounded-end"
                 [(ngModel)]="newTransaction.Amount" [ngModelOptions]="{ standalone: true }" />
          <p>{{errorMessageAmount}}</p>
        </div>
      </div>
  </div>


  <div class=" row">
      <div class="col-md-9 spacing">
        <textarea placeholder="Communication"
                  class="form-control"
                  id="communication"
                  rows="3"
                  name="communication"
                  [(ngModel)]="newTransaction.Note" [ngModelOptions]="{ standalone: true }"></textarea>
        <p>{{errorMessageNote}}</p>
      </div>
  </div>



  <div class=" row">
    <div class=" col-md-12">
      <div class="d-flex justify-content-center final mb-5">
        <input type="button"
               class="rounded-pill green"
               name="Confirmer"
               value="Confirmer Virement"
               (click)="checkForm()" />
      </div>
    </div>
  </div>
