.spacing {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 3%;
}

.green {
  background-color: #5bff93;
}

textarea {
  border-radius: 33.5px;
}

.final {
  margin-top: auto;
}

p{
    color: red;
    font-size: 15px;
}

