<nav class="navbar navbar-expand-sm navbar-dark mynav">
  <div class="container-fluid">
    <a class="my-auto text-white text-decoration-none" routerLink="/home">NEO-Bank</a>

    <!-- NOT CONNECTED NAVBAR -->

    <ul class="nav-links" *ngIf="!isConnected">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#registerModal"
          >
            S'inscrire
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            id="myInput"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Se connecter
          </button>
        </li>
      </div>      
    </ul>

    <!-- CONNECTED NAVBAR -->

    <ul class="nav-links" *ngIf="isConnected">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/profil/transactionForm"
          >
            Virement
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-primary"
            routerLink="/profil"
          >
            Mon profil
          </button>
        </li>        
          <li class="d-lg-none">
            <button type="button"
            class="btn btn-primary" routerLink="/profil/account">Mes comptes bancaires</button>
          </li>
          <li class="d-lg-none">
            <button type="button"
            class="btn btn-primary" routerLink="/profil/card">Mes cartes</button>
          </li>
          <li class="d-lg-none">
            <button type="button"
            class="btn btn-primary" routerLink="/profil/contact">Mes bénéficiaire</button>
          </li>
          <li class="d-lg-none">
            <button type="button"
            class="btn btn-primary" routerLink="/profil/loan">Mes emprunts</button>
          </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-danger"
            (click)="disconnectUser()"
          >
            Se déconnecter
          </button>
        </li>
      </div>
    </ul>
  </div>
</nav>
