
/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body {
  font-family: cursive;
 }
 li {
  list-style: none;
 }
 /*CSS button*/
  .content__item {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   counter-increment: itemcounter;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 1;
   pointer-events: none;
 }
 
 .content__item::before {
   color: var(--color-number);
   position: absolute;
   top: 0;
   left: 0;
   content: counters(itemcounter, ".", decimal-leading-zero);
 }
 .btn{   
  padding: 9px 20px;
  border: none;
  border-radius: 0.5rem;
  margin: 0;
 }
 .button {
   pointer-events: auto;
   cursor: pointer;
   background: #04a9f5;
   border: none;
   padding: 10px 20px;
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   position: relative;
   display: inline-block;
 }
 
 .button::before,
 .button::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
 
 .button--mimas {
   text-transform: uppercase;
   letter-spacing: 0.05rem;
   font-weight: 700;
   font-size: 0.85rem;
   border-radius: 0.5rem;
   overflow: hidden;
   color: black;
   background: #547bad;
 }
 .button--mimas span {
   position: relative;
 }
 
 .button--mimas::before {
   content: '';
   background: white;
   width: 120%;
   left: -10%;
   transform: skew(30deg);
   transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 } 
 .button--mimas:hover::before {
   transform: translate3d(100%,0,0);
 }
 
 /* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #4b6587;
  color: azure;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  font-weight: bold;
  font-style: italic;
 }
 .nav-links a {
  color: azure;
 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  background-color: #4b6587;
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 2px 10px;
 }

 /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  padding-right: 30px;
 }
 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
 .menu { 
  display:none;
  position: absolute;
  background-color:#4b6587;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  background-color:#4b6587;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 .menu li a {
  text-decoration: none;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
 }