<nav class="navbar navbar-expand-sm navbar-dark mynav">
  <div class="container-fluid">
    <a class="my-auto text-white text-decoration-none" routerLink="/home">NEO-Bank</a>

    <!-- NOT CONNECTED NAVBAR -->

    <ul class="nav-links" *ngIf="!isConnected">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li class="nav-item d-none d-lg-block">
          <button
            type="button"
            class="button button--mimas"
            data-bs-toggle="modal"
            data-bs-target="#registerModal"
          ><span>S'inscrire</span>
          </button>
        </li>
        <li class="nav-item d-none d-lg-block">
          <button
            type="button"
            id="myInput"
            class="button button--mimas"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          ><span>Se connecter</span>
          </button>
        </li>
        <!--Navbar recurcive taille laptop et smartphone-->
        <li class="nav-item d-lg-none">
          <a data-bs-toggle="modal"
          data-bs-target="#registerModal">S'inscrire</a>
        </li>
        <li class="nav-item d-lg-none">
          <a data-bs-toggle="modal"
          data-bs-target="#exampleModal">Se connecter</a>
        </li>
      </div>      
    </ul>

    <!-- CONNECTED NAVBAR -->

    <ul class="nav-links" *ngIf="isConnected">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li class="nav-item d-none d-lg-block">
          <button
            type="button"
            class="button button--mimas"
            routerLink="/profil/transactionForm"
          ><span >Virement</span>            
          </button>
        </li>
        <li class="nav-item d-none d-lg-block">
          <button
            type="button"
            class="button button--mimas"
            routerLink="/profil"
          ><span>Mon profil</span>            
          </button>
        </li> 
        <!--Navbar recurcive taille laptop et smartphone-->
        <li class="nav-item d-lg-none">
          <a routerLink="/profil">Mon profil</a>          
        </li>  
        <li class="nav-item d-lg-none">
          <a routerLink="/profil/transactionForm">Virement</a>          
        </li>     
        <li class="d-lg-none">
          <a routerLink="/profil/account">Mes comptes bancaires</a>            
        </li>
        <li class="d-lg-none">
          <a routerLink="/profil/card">Mes cartes</a>
        </li>
        <li class="d-lg-none">
          <a routerLink="/profil/contact">Mes bénéficiaires</a>
        </li>
        <li class="d-lg-none">
          <a routerLink="/profil/loan">Mes emprunts</a>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="button button--mimas bg-danger"
            (click)="disconnectUser()"
          ><span>Se déconnecter</span>            
          </button>
        </li>
      </div>
    </ul>
  </div>
</nav>
