* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*couleur du fond , utile pour right panel*/
.card {
  background-color: #efefef;
  margin-top: 50px;
  border: none;
  height: 100vh;
  max-width: 100%;
}

.btn {
  width: 90%;
  height: 50px;
  border: 1px solid #000102;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0093e9;
  transition: all 0.5s ease;
  font-weight: 500;
}

.btn:hover {
  color: #fff;
  background-color: #0093e9;
}
