<div class="row mt-3">
  <div class="d-none d-lg-block col-lg-6 offset-lg-3 mb-5 text-center">
    <button class="btn btn-light mx-auto px-0" style="width: 30px;" (click)="filterContacts('')" >*</button>
    <button class="btn btn-light mx-auto px-0" style="width: 30px;" *ngFor="let letter of alphabet" value="letter" (click)="filterContacts(letter)" >{{letter}}</button>
  </div>
  <div class="d-lg-none d-block col-10 offset-1">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedLetter" [ngModelOptions]="{ standalone: true }" (change)="filterContacts(selectedLetter)">
      <option selected>*</option>
      <option *ngFor="let letter of alphabet" [ngValue]=letter>{{letter}}</option>
    </select>
  </div>
  <div class="col-10 col-lg-2 offset-1">
    <button class="btn btn-primary col-12 mt-3" routerLink="/profil/contact/add">Ajouter un contact</button>
  </div>
</div>


<div class="p-3 mx-auto border border-2 mt-2" style="background-color: white; width: 90%; border-radius: 20px;">
  <h4 class="mb-4 fw-normal">Contacts</h4>
  <ul class="list-group list-group-flush rounded-5">
    <li *ngFor="let contact of filteredContacts$ |async;" class="list-group-item"><app-contact [contact]="contact" (refreshContacts)="refreshContacts()"></app-contact></li>
  </ul>
</div>
