<div class="body">
  <div class="container-lg m-2">
    <div class="row p-3">
      <div class="col-9">
        <p class="fs-3 fw-lighter m-2">Description</p>
        <p class="fs-1 fw-normal m-2">Emprunt pour une nouvelle voiture</p>
      </div>
      <div class="col-3">
        <p class="fs-3 fw-lighter m-2 text-success text-end">Emprunt en cours</p>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-4">
        <p class="fs-3 fw-lighter m-2">Montant de l'emprunt</p>
        <p class="fs-1 fw-normal m-2">23 599,00€</p>
      </div>
      <div class="col-4">
        <p class="fs-3 fw-lighter m-2">Date de début</p>
        <p class="fs-1 fw-normal m-2">01/01/2021</p>
      </div>
      <div class="col-4">
        <p class="fs-3 fw-lighter m-2">Montant mensuel</p>
        <p class="fs-1 fw-normal m-2">589,87€</p>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-4">
        <p class="fs-3 fw-lighter m-2">Taux d'intérêt</p>
        <p class="fs-1 fw-normal m-2">1,5%</p>
      </div>
      <div class="col-8">
        <p class="fs-3 fw-lighter m-2">Date de fin</p>
        <p class="fs-1 fw-normal m-2">01/01/2027</p>
      </div>
    </div>
  </div>
  <div class="container m-2 p-3">
    <button type="button" class="btn btn-outline-success fs-3">+ Ajouter</button>
  </div>
</div>
