.textAppear span{
  overflow: hidden;
  display: block;
}

.textAppear span span{
    display: block;
    animation: spanFadeIn 500ms ease;
}

.textAppearDelay span{
  overflow: hidden;
  display: block;
}

.textAppearDelay span span{
    display: block;
    animation: spanFadeIn 500ms ease forwards;
    animation-delay: 500ms;
    transform: translateY(100%);
}


@keyframes spanFadeIn {
  0% {
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}
